*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.load{
    position: absolute;
  
  
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(107,210,193);
  background: linear-gradient(90deg, rgba(107,210,193,1) 0%, rgb(145, 230, 216) 24%, rgba(236,236,236,1) 64%);
  z-index: 99999;
}
.medio{
    position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
}
.circulo-grande-arriba{
    width: 300px;
    height: 150px;
    border-top-left-radius: 162px;
    border-top-right-radius: 161px;
    border: 10px solid black;
    background-color: #ec1c23;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 150px;
}
.circulo-grande-abajo{
    width: 300px;
    height: 150px;
    border-bottom-left-radius: 162px;
    border-bottom-right-radius: 161px;
    border: 10px solid black;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.circulo-chico{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid black;
    background-color: #a2a2a2;
}
.circulo-maschico{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid black;
    z-index: 9;
    
}

.pokebola1{
    position: absolute;
    top: 23%;
    left: 37%;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: pokerotation;
  animation-duration: 4s ;
  animation-iteration-count: infinite;
  
  
}
.pokebola2{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
 
}

@keyframes  pokerotation{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }

  @keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
  .pokebola2:hover
{
        
        animation: swing 1s ease;
        
        animation-iteration-count: 1;
}

