body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: none;
  overflow: hidden;
  background-image: url("./images/pokeforest2.PNG");
  z-index: 0;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.rock {
  background-color: rgba(148, 81, 81,0.863);
}
.ghost {
  background-color: rgba(247, 247, 247,0.863);
}
.electric {
  background-color: rgba(255, 255, 161,0.863);
}
.bug {
  background-color: rgba(246, 214, 167,0.863);
}
.poison {
  background-color: rgba(224, 167, 246,0.863);
}
.normal {
  background-color: rgba(244, 244, 244,0.863);
}
.fairy {
  background-color: rgba(255, 192, 203, 0.863);
}
.fire {
  background-color: rgba(251, 227, 223,0.863);
}
.grass {
  background-color:rgba(226, 249, 225,0.863);
}
.water {
  background-color:rgba(224, 241, 253,0.863);
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0rem 0.5rem;
  
}
.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.all-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.thumb-container {
  display: flex;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0 ;
  margin: 0.3rem;

  min-width: 160px;
 
  width: 50px;
  z-index: 1;
  
  
  
}
h1{
  color: white;
  top: 25px;
  display: none;
}
h3 {
  margin-bottom: 0.2rem;
}

.thumb-container img {
  width: 70px;
  height: 70px;
  filter: drop-shadow(5px 5px 5px #222);
}
.thumb-container small {
  text-transform: capitalize;
}
.detail-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  
}
.detail-wrapper button {
  color: rgb(22, 22, 22);
  padding: .5rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.185);
}
.load-more {
  background: #f5f5f5 linear-gradient(#f5f5f5,#f1f1f1) repeat-x;
  border-radius: 2px;
  border: 1px solid #c6c6c6;
  color: #444;
  padding: 0.5rem 1.5rem;
  min-width: 50%;
  margin-top: 1rem;
}
/*POKEDEX*/

.cursor{
  width:500px;
  height: 365px; 
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  z-index: 2;
}

.cursor img{
  width:500px;
  height: 365px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-108px,-157px)
}


/*POKEMON DETAIL*/

.detail-background{
  position:fixed;
  width: 781px;
  height: 365px;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translate(-198px,-157px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}


.detail-section{
  display:flex;
  margin-left: 200px;


}

.image-detail{
  width: 162px;
  position: absolute;
  height: 110px;
  left: 133px;
  top: 108px;
  border-radius: 5px;
  
}
.image-detail img{
  margin-top: 10px;
  width: 165px;
  height: 90px;
}

.text-detail{
  position: absolute;
  top: 111px;
  left: 355px;
  width: 202px;
  height: 100px;
  
 
}


.text-detail ul{
  margin: 0;
  list-style: none;
}

.text-detail ul li{
  font-size: small;
  font-family: monospace;
  color: #E0F1FD;
}

.peso{
  position: absolute;
  font-size: small;
  font-family: monospace;
  color: #E0F1FD;
  top: 314px;
    left: 400px;
}
.altura{
  position: absolute;
  font-size: small;
  font-family: monospace;
  color: #E0F1FD;
  top: 315px;
  left: 497px;
}

.instrucciones{
  position: absolute;
  font-size: small;
  font-family: monospace;
  color: #E0F1FD;
  top: 306px;
    left: 161px;
    width: 58px;
    text-align: center;
}

